* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#social {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.social-contact {
  display: flex;
}

.social-contact p {
  margin-right: 20px;
}
